.container {
    margin: auto;
    max-width: 1300px;
    margin-bottom: 30px;
    min-width: 300px;
    padding: 0px 15px;
}

.highlight {
    font-weight: 600;
}

.step {
    margin-top: 5px;
    text-align: justify;
}

.title {
    margin-top: 2.25rem;
    margin-bottom: .75rem;
    font-size: 22px;
    word-spacing: 2px;
    font-weight: bold;
}

.notice {
    color: palevioletred;
    font-weight: 600;
}

.welcome {
    color: palevioletred;
    font-weight: bold;
    text-align: justify;
    width: fit-content;
    font-size: 20px;
}

.storeinformation {
    margin-top: 20px;
}

#highlight {
    color: red;
}

p {
    margin: 10px 0;
}

#link {
    color: palevioletred;
    font-weight: 600;
    text-decoration: underline;
}

.step a {
    text-decoration: none;
    margin-left: 10px;
}

.step a:hover {
    color: red!important;
}

@media only screen and (max-width: 1328px) {
    .container {
        width: 1170px;
        padding: 0px;
    }
}

@media only screen and (max-width: 1172px) {
    .container {
        width: 90%;
        padding: 0px 15px;
    }
}